body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


/******************************* reset is above this ***********************/



.container {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-image:url('http://localhost/images/css images/cooldesign.jpg');
    background-color: #f4f3f1;
    background-repeat:repeat-x;

    position: relative;
}

body{
    background-attachment: fixed;
    background-image:url('http://localhost/images/css images/cooldesign.jpg');
    background-color: #f4f3f1;
    background-repeat:repeat-x;
}

.main{

    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;


}

.header{
    float: left;
    width: 896px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}


.nav1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.nav1 a {

        background: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.23, rgb(0,174,255)),
                color-stop(0.62, rgb(0,153,255))
            );
        background:-moz-linear-gradient(
                center bottom,
                rgb(0,174,255) 23%,
                rgb(0,153,255) 62%
        );

	display: inline-block;
        float: left;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
        margin-left: 3px;


}

.nav1  a:hover{
    text-decoration: none;
}

.nav1 a:active{
    position: relative;
	top: 1px;

}


.body{
    float: left;
    width: 896px;
    margin-top: 10px;


}



.footer{
    float: left;
    width: 896px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    /*background-color: #000;
    background-color: rgba(255, 255, 255, 0.5);*/


}

.footerlink{
    float: left;
    margin-left: 20px;
    margin-top: 5px;

}

.rights{
    float: left;
    margin-left: 40px;
    margin-top: 22px;
    text-transform: uppercase;
    color: rgb(0,174,255);
    font: 12px/100% Arial, Helvetica, sans-serif;

    font-size: small;

}


.clear{
    clear: both;
}

/****************************skeleton above this line for rest of website **********************/

.eventinstance{
    float: left;
    width: 896px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    
    
}

.groupevent{
    float: left;
    width: 800px;
    margin-left: 48px;
    margin-top: 48px;
    margin-bottom: 48px;

    color: rgb(0,174,255);
    

}

#name{
    float: left;
    color: rgb(0,174,255);
    font: 22px/100% Arial, Helvetica, sans-serif;
}

#date{
    float: left;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;
    color: rgb(255,255,255);
    
}

#month{
    float: left;
    
}

#day{
    float: left;
    margin-left: 5px;
}

#year{
    float: left;
    margin-left: 5px;
}

#time{
    float: left;
    margin-left: 10px;
}

#location{
    float:left;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;
    color: rgb(255,255,255);
}

#moreinfo{
    float:left;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    width: 100%;
    padding-bottom: 10px;
    color: rgb(255,255,255);
}

#eventslash{
    color: rgb(255,255,255);
}