body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}


/******************************* reset is above this ***********************/



.container {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-image:url('http://localhost/images/css images/cooldesign.jpg');
    background-color: #f4f3f1;
    background-repeat:repeat-x;
    
    position: relative;
}

body{
    background-attachment: fixed;
    background-image:url('http://localhost/images/css images/cooldesign.jpg');
    background-color: #f4f3f1;
    background-repeat:repeat-x;
}

.main{
    
    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    

}

.header{
    float: left;
    width: 896px;  
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}


.nav1 {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.nav1 a {

        background: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.23, rgb(0,174,255)),
                color-stop(0.62, rgb(0,153,255))
            );
        background:-moz-linear-gradient(
                center bottom,
                rgb(0,174,255) 23%,
                rgb(0,153,255) 62%
        );

	display: inline-block;
        float: left;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
        
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
        margin-left: 3px;

        
}

.nav1  a:hover{
    text-decoration: none;
}

.nav1 a:active{
    position: relative;
	top: 1px;

}


.body{
    float: left;
    width: 896px;
    margin-top: 10px;
    
    
}



.footer{
    float: left;
    width: 896px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;
    /*background-color: #000;
    background-color: rgba(255, 255, 255, 0.5);*/
    
    
}

.footerlink{
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    
}

.rights{
    float: left;
    margin-left: 40px;
    margin-top: 22px;
    text-transform: uppercase;
    color: rgb(0,174,255);
    font: 12px/100% Arial, Helvetica, sans-serif;
    
    font-size: small;

}


.clear{
    clear: both;
}

/****************************skeleton above this line for rest of website **********************/

.column1{
    float: left;
    width: 620px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    font: 13px/100% Arial, Helvetica, sans-serif;
    
}





#newsfeed{
    float: left;
    width: 600px;
    /*background-color: white;*/
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    

}



#newsentry{
    float: left;
    width: 550px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    color: rgb(255,255,255);
    
   
}

#newsentryDate{
    float: left;
    

}

#day{
    float: left;
    text-transform: uppercase;
    color: rgb(0,174,255);
    
    font-size: large;
    margin-left: 8px;
    height: 22px;
    margin-bottom: -4px;
    
    
}

#month{
    float: left;
    text-transform: uppercase;
    color: rgb(0,174,255);
    margin-bottom: 5px;
    font-size: large;
    

}

#title{
    float: left;
    text-transform:uppercase;
    color: black;
    
    
    font-size: medium;
    margin-left: 20px;
    margin-top: 12px;
    color: rgb(255, 255, 255);
    
   
}

.slash{
    float: left;
    color: rgb(255,255,255);
    width: 100%;
    border-top: 3px solid #f4f3f1;
    padding-top: 5px;
    font-size: small;
}

#object{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#news{
    margin-bottom: 20px;
    margin-top: 10px;
    
    font-size: small;
}

#newsNavpre{
    float: left;
    margin-bottom: 10px;
    margin-left: 250px;
}

#newsNavnext{
    float: left;
    margin-bottom: 10px;
}

.column2{
    float: left;
    margin-left: 8px;
    width: 264px;
    font: 12px/100% Arial, Helvetica, sans-serif;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    
}

#recentevents{
    float: left;
    width: 244px;
    
    margin-left: 10px;
    margin-top: 10px;
    
}

#recenteventsTitle{
    float: left;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgb(0,174,255);
    width: 100%;
    border-bottom: 3px solid #f4f3f1;
    padding-bottom: 5px;
    font-size: small;
    
   
}

#recentslash{
    color: rgb(255,255,255);
    
}

#events{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    
    width: 244px;
    
    
}

#events{
    
    font-size: small;
    color: white;
    

}



#events a:link {
    color: rgb(0,174,255);
    text-decoration:none;
}
#events a:visited {
    text-decoration:none;
    color: rgb(0,174,255);

}
#events a:hover {
    color: black;
    text-decoration:underline;
}
#events a:active {
    text-decoration:underline;
    color: rgb(0,174,255);
}

#events table{
    width:100%;
    font: 12px/100% Arial, Helvetica, sans-serif;
}

#events td, tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#events td{
    width: 100px;
    text-align: center;
}

#events th{
    color: rgb(0,174,255);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
}

.white {
     background-color: rgba(255,255,255, 0.1);
}

.blue {
    background-color: rgba(0,174,255, 0.1);
}


.column3{
    float: left;
    margin-left: 8px;
    width: 264px;
    height: 268px;
    margin-top: 10px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    
}

#column3pic{
    float: left;
    width: 244px;
    margin-left: 10px;
    height: 244px;
    margin-bottom: 10px;
    margin-top: 10px;
}